apiVersion: v1
kind: Pod
metadata:
  name: fastapi-pod
  labels:
    app: fastapi
    version: v1
spec:
  containers:
  - name: fastapi
    image: username/fastapi-users:v1
    imagePullPolicy: IfNotPresent
    ports:
    - containerPort: 8000
      name: http