apiVersion: v1
kind: Pod
metadata:
  name: fastapi-env-pod
  labels:
    app: fastapi
    version: v4
spec:
  containers:
  - name: fastapi
    image: username/fastapi-users:v3
    imagePullPolicy: IfNotPresent
    command: ["uvicorn"]
    args: 
    - "app:app"
    - "--host"
    - "0.0.0.0"
    - "--port"
    - "8000"
    - "--log-level"
    - "info"
    ports:
    - containerPort: 8000
      name: http
    env:
    - name: APP_NAME
      value: "Advanced User Management"
    - name: APP_VERSION
      value: "3.0.1"
    - name: MAX_USERS
      value: "50"
    - name: DEBUG_MODE
      value: "true"
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: POD_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP